<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<!-- consumer application name -->
	<dubbo:application name="jmClient" />

	<!-- registry address, used for consumer to discover services -->
	<dubbo:registry address="multicast://224.5.6.7:1234" id="local" />
	<dubbo:registry protocol="zookeeper" address="10.144.5.218:2181" id="dev" />
	
	<dubbo:consumer timeout="5000" retries="0" connections="200" loadbalance="roundrobin" />
	
	<!-- which service to consume? -->
	<dubbo:reference id="virtualService" interface="neo.ce.service.IVirtualService" registry="local" />
	<!-- 预算总额额服务接口 -->
	<dubbo:reference id="budgetTotalFacade" interface="com.gomeo2o.facade.account.service.BudgetTotalFacade" registry="dev" loadbalance="random" timeout="0"/>
</beans> 