<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<!-- consumer application name -->
	<dubbo:application name="jmClient" />

	<!-- registry address, used for consumer to discover services -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<dubbo:registry address="zookeeper://10.144.5.218:2181" />
	
	<dubbo:consumer timeout="2000" retries="5" />
	
	<!-- which service to consume  reference会覆盖上面consumer的retries配置-->
	<dubbo:reference id="virtualService" interface="neo.ce.service.IVirtualService" retries="0" />
</beans> 